# Git Ignore file

# AWS env file
*execute.*

# Private/Public keys
**/keys/*

# Terraform unuseful files
## Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
